<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>

<%= @user.name %>


<%= line_chart @calories %>
<div class="d-flex justify-content-center" style="margin-top:80px">
    <input type="text" id="rangepicker"/>
</div>
<div class="row d-flex justify-content-center align-items-center h-100 mt-3">
    <div class="col-12 col-md-6 col-lg-6 col-xl-8">
        <div class="digg_pagination d-flex justify-content-center">
            <%= will_paginate @calorierender %>
        </div>    
        <table class="table">
            <thead class="bg-dark text-white">
                <tr style="text-align:center">
                    <th scope="col">Day</th>
                    <th scope="col">Quantity_calories</th>
                    <th scope="col">Type</th>
                    <th scope="col">Comment</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <% @calorierender.each do |c| %>
                    <tr style="text-align:center">
                        <th scope="row"><%= c.day %></th>
                        <td><%= c.quantity_calories %></td>
                        <td><%= c.kind %></td>
                        <td><%= c.comment %></td>
                        <td>
                            <%= link_to 'Edit', edit_calory_path(c) , class:"btn btn-primary", style:"color:white" %>
                            <%= link_to 'Delete', calory_path(c) , method: :delete, data: { confirm: "You sure?" }, class:"btn btn-outline-danger" %>
                        </td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>

<%= form_tag root_path, method: :get do %>
    <%= hidden_field_tag :start %>
    <%= hidden_field_tag :end %>
<% end %>

<script>
    $("#rangepicker").daterangepicker({
        startDate: moment("<%= l @start_date, format:'%Y-%m-%d' %>"),
        endDate : moment("<%= l @end_date, format:'%Y-%m-%d' %>")
      }, function(start, end, label) {
        $("#start").val(start.format('YYYY-MM-DD'));
        $("#end").val(end.format('YYYY-MM-DD'));
        $("form").submit();
    });    
</script>
</body>
</html>